<div class="container text-center mt-5 ">
  <h1 class="mb-4"> Welcom to our Development BootCamp</h1>

  <hr class="divider">

</div>
<div class="flex-container-sm d-flex mt-5  justify-content-center">

  <div class="card text-center me-3 " style="width: 18rem;">
    <img src="assets/photo2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Java Development</h5>
      <p class="card-text text-center">Some quick example with java  to get you up and runing  for your first hands on project.</p>
      <a href="#" class="btn btn-primary">learn more</a>
    </div>
  </div>
  <div class="card text-center me-3" style="width: 18rem;">
    <img src="assets/photo3.jpg" class="card-img-top" alt="..." width="286" height="146">
    <div class="card-body">
      <h5 class="card-title text-center">Block Chain</h5>
      <p class="card-text text-center">Some quick example with Block chain to get you up and runing  for your first hands on project</p>
      <a href="#" class="btn btn-primary">learn more</a>
    </div>
  </div>
  <div class="card text-center me-3" style="width: 18rem;">
    <img src="assets/demo3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Angular Development</h5>
      <p class="card-text text-center">Some quick example with angular  to get you up and runing  for your first hands on project.</p>
      <a href="#" class="btn btn-primary ">learn more</a>
    </div>
  </div>
</div>
