<div class="container">

  <ng-template #err><div class="text-danger">
    {{errorMessage}}
  </div></ng-template>
  <div class="card" *ngIf="products;else err">
    <div class="card-header">
      <h1 class="text-center"> liste produits</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="searchFormGroup" (ngSubmit)="handelSearchForm()" method="get" class="mb-3" >
        <div  class="input-group">
          <label class="input-group-text bg-info text-white">
            Keyword
          </label>
          <input type="text" class="form-control" formControlName=keyword>
          <button class=" btn btn-info">
            <i class="bi bi-search text-white"></i>
          </button>
        </div>
      </form>
      <table class="table">
      <thead>
       <tr>
         <th> id</th>
         <th> nom</th>
         <th> price</th>
         <th> delete</th>
         <th> On Sale</th>
         <th> toggle promo</th>
       </tr>
      </thead>
        <tbody>

        <tr *ngFor="let p of products">
          <td> {{p.id}}</td>
          <td> {{p.nom}}</td>
          <td> {{p.price}}</td>
          <td> <button (click)="handleDeletProduct(p)" class="btn btn-danger">
            <i class="bi bi-trash"></i>
          </button>
          </td>
          <td *ngIf="p.onSale==true">
            <h3 class="badge bg-success"> % 50 Off </h3>
          </td>
          <td *ngIf="p.onSale==false">
            <h3 class="badge bg-danger"> no promo </h3>
          </td>
          <td> <button (click)="handelTogglePromo(p)" class="btn btn-success">
            <i class="bi bi-cart-check"></i>
          </button>
          </td>
        </tr>
        <ul class="nav nav-pills" >
          <li   *ngFor="let t of totalPageArry">
            <a [ngClass]="t==currentPage? 'btn btn-info':'btn btn-outline-info'" class="ms-0" (click)="goToPage(t)">{{t}}</a>
          </li>
        </ul>

        </tbody>
      </table>
    </div>
  </div>
</div>
